@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Poppins:wght@400;500;600&family=Roboto&display=swap');

:root {
    --blue: #009DDC;
    --rose: #D81159;
    --gray: #009DDC;
    --lightGray: #F2F2F2;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 400;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
    color: var(--blue);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
section {
    min-height: 100vh;
}
@media screen and (min-width: 768px) {
    section {
    min-height: auto;
        
    }
}
    


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.greet{ 
    min-height: 100vh;
}

.greet__title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 12rem;
}
.greet__title-firstletter {
    font-size: 6rem;
    margin: 0 -10px 0 0;
}
.greet__title-dev {
    color: var(--rose);
    animation: bounce 1s infinite alternate both;
    display: inline-block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header__logo {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    padding: 1rem;
}
.btn {
    display: grid;
    place-items: center;
    width: 15rem;
    height: 3.4rem;
    background-color: var(--blue);
    color: white;
    border-radius: .5rem;
    transition: all 0.3s ease;
    font-weight: 600;
}

.btn:hover {
    opacity: .8;
}

.btn-alert {
    background-color: var(--rose);
}

.greet__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .greet__buttons {
        flex-direction: row;
    }
}

    


.portfolio {
    background-color: var(--gray);
    text-align: center;
    color: white;
}

.contact__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .contact__title {
        font-size: 3rem;
    }
}
    

.contact__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contact__links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .contact__links {
    }

    
}

.avatar {
    border-radius: 50%;
    padding: 5rem 0 3rem 0;
    max-width: 50%;
}

.portfolio__title {
    font-size: 2.6rem;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .portfolio__title {
        font-size: 3rem;
    }
}
    

.portfolio__tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 0;    
}
.greet__text {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}
.greet__text::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 3px;
    background-color: var(--blue);
}

.portfolio__tech {
    display: grid;
    place-items: center;

    background-color: var(--lightGray);
    color: black;
    border-radius: 1rem;
    padding: .5rem;
    font-weight: 500;
    opacity: 0;
}
.portfolio__text {
    margin-bottom: 2rem;
}

.tech-icon {
    max-width: 5rem;
}

.portfolio__projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding-bottom: 5rem;
    padding-top: 3rem;

}
@media screen and (min-width: 768px) {
    .portfolio__projects {
        grid-template-columns: repeat(2, 1fr);
    }

    
}
.portfolio__project {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
}
.portfolio__project:hover {
    translate: 0 -10px;
}
.project__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.portfolio__project-techs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    gap: 1rem;
    margin-bottom: .5rem;
}

.fade-in {
    animation: fadeIn .4s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.portfolio__project-techs img {
    width: 2rem;
}

.project__img {
    max-height: 6rem;
    
}

.footer {
    background-color: black;
    color: white;
    padding: 2rem 0;
    text-align: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.footer a {
    color: white;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--blue);
}

@media screen and (min-width: 768px) {
    .footer {
        justify-content: space-around;
        flex-direction: row;
    }

    
}
.red {
    color: var(--rose);
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 4rem 0;
}
@media screen and (min-width: 768px) {
    .contact__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    
    
}

.blue {
    color: var(--blue);
}

.tech-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.btn-cv {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.btn-cv img {
    height: 1rem;
    filter: invert(100%);
    padding-left: 1rem;
}

.download {
    padding: 2rem 0 3rem ;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}
.header__languages {
    padding-right: 2rem;
    font-size: 1.5rem;
}

.header__language {
    color: white;
    position: relative;
    margin-left: .6rem;
}

.active-language::after {
    content: '';
    position: absolute;
    bottom:0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--blue);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}